h1 {
	margin: 10px;
}
#tableContainer{
	display: inline-block;
	height: 450px;
	width: 47%;
	overflow-y: auto;
}
#saparator{
	display: inline-block;
	height: 450px;
	width: 4px;
	background-color: black;
}
#graphContainer{
	display: inline-block;
	height: 450px;
	width: 47%;
	overflow-x: auto;
}

#searchForm {
	margin-left: 40px;
}

#searchInput {
	width: 280px;
}

.search-images {
	height: 18px;
}

#loader {
	display: none;
}

#loader img {
	height: 18px;
}
#msgDisplayer{
	display: none;
}
